.row{
    background: #9ca7b4;
}
footer{
    color: rgba(13, 13, 14, 0.897);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(11, 11, 11);
}