<div class="row">
  <h1> Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lag-4"> 
    
   <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../../assets/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lag-4"> 
    
  <circle-progress
 [percent]="70"
 [radius]="100"
 [imageSrc]="'../../../assets/CSS.png'"
 [showImage]="true"
 [imageHeight]="80"
 [imageWidth]="65"
 [showUnits]="false"
 [showSubtitle]="false"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="3"
 [outerStrokeColor]="'#78C000'"
 [innerStrokeColor]="'#C7E596'"
 [animation]="true"
 [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lag-4"> 
    
  <circle-progress
 [percent]="65"
 [radius]="100"
 [imageSrc]="'../../../assets/js.png'"
 [showImage]="true"
 [imageHeight]="70"
 [imageWidth]="70"
 [showUnits]="false"
 [showSubtitle]="false"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="3"
 [outerStrokeColor]="'#78C000'"
 [innerStrokeColor]="'#C7E596'"
 [animation]="true"
 [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lag-4"> 
    
  <circle-progress
 [percent]="60"
 [radius]="100"
 [imageSrc]="'../../../assets/eng.png'"
 [showImage]="true"
 [imageHeight]="120"
 [imageWidth]="120"
 [showUnits]="false"
 [showSubtitle]="false"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="3"
 [outerStrokeColor]="'#78C000'"
 [innerStrokeColor]="'#C7E596'"
 [animation]="true"
 [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lag-4"> 
    
  <circle-progress
 [percent]="65"
 [radius]="100"
 [imageSrc]="'../../../assets/git.png'"
 [showImage]="true"
 [imageHeight]="70"
 [imageWidth]="70"
 [showUnits]="false"
 [showSubtitle]="false"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="3"
 [outerStrokeColor]="'#78C000'"
 [innerStrokeColor]="'#C7E596'"
 [animation]="true"
 [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lag-4"> 
    
  <circle-progress
 [percent]="100"
 [radius]="100"
 [imageSrc]="'../../../assets/grupal.png'"
 [showImage]="true"
 [imageHeight]="70"
 [imageWidth]="70"
 [showUnits]="false"
 [showSubtitle]="false"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="3"
 [outerStrokeColor]="'#78C000'"
 [innerStrokeColor]="'#C7E596'"
 [animation]="true"
 [animationDuration]="500"
></circle-progress>
</div>

</div>
