<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.jpg" id="fotodeperfil"
    class="img-fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Guillermo Hernán Palmieri</p>
    <p> Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
    <h1>Acerca de mí</h1>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt distinctio inventore animi recusandae nostrum. Velit, tempora doloremque voluptatem esse magnam, atque molestiae culpa, dolor quis fugit deserunt perferendis laudantium voluptatum.</p>
</span>
</div>
</div>
