.row{
    background: #a1b5cb;
}
footer{
    color: rgb(104, 122, 134);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}