<div class="row">
    <h1>Experiencia Laboral :</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Empresa : Luz Desing Iluminación</h1><h3> (15/07/19 - 20/08/2020)</h3>
                <ul>
                 <li>Dirección : Suipacha 1153 (Lanús Este)</li>
                 <li> Tel : 1537676941 (Sergio Cenatiempo)</li>
                 <li>  Tareas realizadas :</li>
                 <li> •	Armado y Producción</li>
                 <li> •	Embalaje</li>
                 <li>  •	Control de Stock</li>
                 <li>  •	Deposito</li>
                 <li> •	Descarga de Mercadería</li>
                </ul>
</li>
        
            <li><h1>Empresa : Laboratorio Eczane Pharma</h1><h3> (09/04/2018 - 06/07/2018)</h3>
                <p> Dirección : Laprida 43 (Avellaneda )
                    Tel : 1568837675 (Luis Machuca)
                    Tareas realizadas :
                    •	Fraccionado de Shampoo ,Cremas y líquidos en maquinas temas.
                    •	Codificado en Hitachi.
                    •	Estuchado manual.
                    •	Armado de Pallet de producto terminado.
                    •	Etiquetado manual y automático(manejo de etiquetadora Altech).
                    •	Manejo de documentación.
                    •	Capacitación de normas GNP </p>
</li>
        </ul>
        <ul>
            <li><h1>Empresa : Estuches Rígidos J.L.S.</h1><h3> (05/08/2006 - 15/04/2018)</h3>
                <p> Dirección :Juncal 2848 (Lanús Este )
                    Tel : 4246-6659
                    Tareas realizadas :
                    •	Encargado del sector
                    •	Armado y producción
                    •	Manejo de herramientas y maquinaria de carpintería
                    •	Control de calidad</p>
</li>
        </ul>
        <ul>
            <li><h1>Empresa : BELSTON(diseños masculinos )</h1><h3> (05/01/2005 - 15/06/2006)</h3>
                <p> Dirección : Gral. E. Martínez  381 (colegiales )
                    Tel : 4552-1156
                    Ocupación :
                    •	Encargado del sector
                    •	Control de calidad 
                    •	Embalamiento
                    •	Entregas
                    </p>
</li>
        </ul>
 


    </div>

</div>
